<page>
	<h3>选择用户</h3>
	<card>
		<row :gutter="10">
			<i-col span="8">
					<div style="max-height:500px;overflow-y:auto;overflow-x:hidden;">
						<tree ref="selectTree" :render="nodeRender" :data="dataList"></tree>
					</div>
			</i-col>
			<i-col span="16">
				<i-table border :columns="tabCol" :data="tabData" size="small" max-height="500px" 
					@on-select="onSelect(arguments[1].oid,true)" @on-select-cancel="onSelect(arguments[1].oid,false)"
					@on-select-all="onSelectAll(true)" @on-select-all-cancel="onSelectAll(false)">
				</i-table>
			</i-col>
		</row>
	</card>
	<div style="padding-top:10px;text-align:right;">
		<template v-for="dd in allData">
			<tag v-if="dd._checked==true" type="border" closable color="primary" @on-close="onSelect(dd.oid,false)" size="medium">{{dd.name}}</tag>
		</template>
		<i-button type="primary" @click="selectAdmin()">确定</i-button>
		<i-button @click="close(false)">关闭</i-button>
	</div>
</page>
<script>
(function(){
	return { //vue对象属性
		data(){
			return {
				//key:'',
				//openKey:'',
				//selected:{},
				//nodeGroup:'',
				//flterGroup:'',
				typeNames:{'A':'组','B':'角色','C':'机构'},
				dataList:[
					{oid:'all',type:'all',title:'全部',expand:true,list:[]},
					{oid:'A',type:'A',title:'组',expand:true,children:[],list:[]},
					{oid:'B',type:'B',title:'角色',expand:true,children:[],list:[]},
					{oid:'C',type:'C',title:'机构',expand:false,children:[],list:[]}
				],
				dataType:{},//组类型
				list:[],//机构构建使用
				map:{},//机构构建使用
				allGroup:{},//{组oid:组}
				selectOid:'',
				tabCol:[
					{type: 'selection',width: 60,align: 'center'},
					{title: '账号',key: 'username'},
					{title: '最后登陆时间',key: 'lastLoginTime'}
				],
				tabData:[],//table的数据
				allData:{},//所有用户 {用户oid:{tableData}}
			};
		},
		mounted:function(){
			this.nodeGroup=this.nodeGroup?(','+this.nodeGroup+','):('');
			this.flterGroup=this.flterGroup?(','+this.flterGroup+','):('');
			console.log(this.selected);
			this.allGroup[this.dataList[0].oid]=this.dataList[0];
			this.allGroup[this.dataList[1].oid]=this.dataList[1];
			this.allGroup[this.dataList[2].oid]=this.dataList[2];
			this.allGroup[this.dataList[3].oid]=this.dataList[3];
			$.execJSON("action/manageAdminGroup/getList",
				{},
				function(json){
					if(json.code==0){
						for(let i=0;i<json.list.length;i++){
							json.list[i]['title']=json.list[i].name;
							json.list[i]['expand']=true;
							this.dataType[json.list[i].oid]=json.list[i].type;
							if(!this.isNode(json.list[i])){
								//不展示
								continue;
							}else if(json.list[i].type=='A'){
								this.dataList[1].children.push(json.list[i]);
							}else if(json.list[i].type=='B'){
								this.dataList[2].children.push(json.list[i]);
							}else{
								this.map[json.list[i].oid]=json.list[i];
							}
							this.allGroup[json.list[i].oid]=json.list[i];
							this.allGroup[json.list[i].oid].list=[];
						}
						this.dataList[3].children=this.list;
						for(let k in this.map){
							let group=this.map[k];
							group['title']=group.name;
							group['expand']=true;
							if(group.parent&&group.parent.oid){
								group.render=this.nodeRender;
								let parent=this.map[group.parent.oid];
								if(!parent.children) parent.children=[];
								parent.children.push(group);
							}else{
								this.list.push(group);
							}
						}
					}else{
						this.$Message.error(data.msg);
					}
				}.bind(this)
			);
			$.execJSON("action/manageAdminGroupLink/getLink",
				{adminGroupOid:this.adminGroupOid},
				function(json){
					if(json.code==0){
						let allLink=json.allLink;
						$.execJSON("action/manageAdminLogin/getAllAdmin",
							{nodeGroup:this.nodeGroup,flterGroup:this.flterGroup},
							function(data){
								if(data.code==0){
									this.adminList=data.list;
									for(let i=0,len=data.list.length;i<len;i++){
										let dd=data.list[i];
										this.allData[dd.oid]={
											oid:dd.oid,username:dd.realname+' ('+dd.username+')',name:dd.realname,
											lastLoginTime:dd.lastLoginTime?(dd.lastLoginTime+' ('+dd.loginCount+')'):'',
											groupOid:dd.adminGroup.oid,_checked:this.isSelected(dd.oid)
										};
										if(dd.adminGroup&&dd.adminGroup.oid){
											this.addGroupList(dd.adminGroup,this.allData[dd.oid]);
											this.addParentList(dd.adminGroup.type,this.allData[dd.oid]);
										}
										this.addParentList('all',this.allData[dd.oid]);
									}
									for(let i=0;i<allLink.length;i++){
										let link=allLink[i];
										let user=this.allData[link.admin.oid];
										if(user){
											this.addGroupList(link.adminGroup,user);
											if(link.adminGroup.parent&&link.adminGroup.parent.oid)
												this.addParentList(link.adminGroup.parent.oid,user);
											this.addParentList(link.adminGroup.type,user);
										}
									}
									this.selectOid="allall";
									this.tabData=this.allGroup['all'].list;
								}else{
									this.$Message.error(data.msg);
								}
							}.bind(this)
						);
					}else{
						this.$Message.error(data.msg);
					}
				}.bind(this)
			);
		},
		methods:{
			isNode:function(item){
				if(!this.nodeGroup||this.nodeGroup.indexOf(','+item.oid+',')>=0||this.nodeGroup.indexOf(','+item.num+',')>=0
					||(item.parent.oid&&this.nodeGroup.indexOf(','+item.parent.oid+',')>=0)
					||(item.parent.num&&this.nodeGroup.indexOf(','+item.parent.num+',')>=0)){
					return true;
				}
				return false;
			},
			addGroupList:function(group,user){
				let gg=this.allGroup[group.oid];
				if(gg&&gg.oid){
					gg.list.push(user);
					this.addParentList(group);
				}
			},
			addParentList:function(groupOid,user){
				let gg=this.allGroup[groupOid];
				if(gg&&gg.oid){
					for(let i=0;i<gg.list.length;i++){
						if(gg.list[i].oid==user.oid){
							return;
						}
					}
					gg.list.push(user);
				}
			},
			isSelected:function(oid){
				if(this.selected&&this.selected.length>0){
					for(let i=0;i<this.selected.length;i++){
						if(this.selected[i]&&this.selected[i].oid==oid){
							return true;
						}
					}
				}
				return false;
			},
			onSelect:function(adminOid,flag){
				this.allData[adminOid]['_checked']=flag;
			},
			onSelectAll:function(flag){
				for(let i=0;i<this.tabData.length;i++){
					this.tabData[i]['_checked']=flag;
				}
			},
			nodeRender:function(h, obj){
				let data=obj.data;
				let flag=this.selectOid==data.type+data.oid;
				return h('span', {
					style: {display: 'inline-block',width: '100%',backgroundColor:flag?'#f0faff':''}
				}, [
					h('a', {
						style:{margin:'0 8px',lineHeight:'24px',color:'#2d8cf0'},
						on: {
							click:function(){
								this.selectOid=data.type+data.oid;
								this.tabData=this.allGroup[data.oid].list;
							}.bind(this)
						}
					},(flag?'> ':'')+data.title)
				]);
			},
			selectAdmin:function(){
				let arr=[];
				for(let i=0;i<this.adminList.length;i++){
					if(this.allData[this.adminList[i].oid]._checked){
						arr.push(this.adminList[i]);
					}
				}
				$.vue[this.openKey].backHandler(true,arr);
			},
			close:function(b){
				$.vue[this.openKey].backHandler(b);
			}
			//backHandler:function(success,msg){//打开窗体的回调
			//}
		}
	};
})();
</script>

